// Le styles
link(href='/assets/css/app.css', rel='stylesheet', id='app-style')
link(href='/assets/css/app-dark.css', rel='stylesheet', id='app-style-dark')
script.
    function setTheme(theme) {
        const lightThemeStyle = document.querySelector("#app-style");
        const darkThemeStyle = document.querySelector("#app-style-dark");
        // This is the best way to change sheets on page load (without a major refactor of styles) to avoid
        // a perceived delay on transitioning styles
        if (theme === 'dark') {
            lightThemeStyle.rel = "alternate";
            darkThemeStyle.rel = "stylesheet";
        } else {
            lightThemeStyle.rel = "stylesheet";
            darkThemeStyle.rel = "alternate";
        }
    }
    setTheme(localStorage.getItem('theme'));